<meta charset="utf-8"/>
<div id="h">
	<div class="row" style="padding-bottom: 5px">
		<div class="col-lg-4">
			<a href="/"><img src="/static/images/logo.PNG" style="height: 80px;width: 220px" alt="logo" title="网站logo"/></a>
		</div>
		<div class="col-lg-8">
			<span style="float:right;margin-top:10px; font-size: 2em;font-family: KaiTi;">搜搜电影网</span>
		</div>
	</div>
</div>
<!-- 宋体	SimSun
黑体	SimHei
微软雅黑	Microsoft YaHei
微软正黑体	Microsoft JhengHei
新宋体	NSimSun
新细明体	PMingLiU
细明体	MingLiU
标楷体	DFKai-SB
仿宋	FangSong
楷体	KaiTi
仿宋_GB2312	FangSong_GB2312
楷体_GB2312	KaiTi_GB2312 -->