<meta charset="UTF-8"></meta>
<div id="f">
	<div class="data_list">
		<div class="data_list_title">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			本站介绍
		</div>
		<div style="font-family: kaiti;color: black;font-size: large;font-weight: bold;margin-top: 20px">
			<ul style="list-style-type: none;">
				<li>前台：bootstrap</li>
				<li>后台：easyui</li>
				<li>数据库：mysql</li>
				<li>安全框架：spring security</li>
				<li>整体框架：spring boot</li>
			</ul>
		</div>
	</div>
</div>
